<a href="https://colab.research.google.com/github/DeepthiTabithaBennet/Python_AppliedStatistics/blob/main/Stem%26LeafDisplay_CrossTabulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Stem and Leaf Display**

In [ ]:
# Written by Deepthi Tabitha Bennet

!pip install stemgraphic

In [ ]:
import stemgraphic
  
data = [23, 56, 76, 34, 87, 56, 98, 12, 46, 98, 9, 34, 56, 76, 35, 12, 84, 36, 45, 23, 12, 87, 3, 78, 94, 47]
  
stemgraphic.stem_graphic(data, scale = 10)

**Cross Tabulation**

In [ ]:
# importing packages
import pandas
import numpy

# creating some data
a = numpy.array(["Bad", "Good", "Very Good", "Excellent", "Excellent", "Very Good", "Good", "Bad",
				"Bad", "Good", "Very Good", "Excellent", "Excellent", "Very Good", "Good", "Bad",
				"Bad", "Good", "Very Good", "Excellent", "Excellent", "Very Good", "Good", "Bad",
				"Bad", "Good", "Very Good", "Excellent", "Excellent", "Very Good", "Good", "Bad"],
				dtype=object)

b = numpy.array(["0 - 100", "100 - 250", "250 - 500", "500 - 1000", "1000 - 2500", "2500 - 5000", "5000 - 7500", "7500 - 10000", "10000 - 15000", "15000 - 20000", "20000 - 30000", "Above 30000", 
				"0 - 100", "100 - 250", "250 - 500", "500 - 1000", "1000 - 2500", "2500 - 5000", "5000 - 7500", "7500 - 10000", "10000 - 15000", "15000 - 20000", "20000 - 30000", "Above 30000",
				"0 - 100", "100 - 250", "250 - 500", "500 - 1000", "1000 - 2500", "2500 - 5000", "5000 - 7500", "7500 - 10000"],
				dtype=object)

# form the cross tab
pandas.crosstab(b, a, rownames=['Cost (in Rs.)'], colnames=['Rating'])